body {
  background-color: #282c34;
  color: #61dafb;
}

.App {
  text-align: center;
}

.choices,
.result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto 2rem auto;
  max-width: 40%;
}

img {
  max-width: 5rem;
}

.choices img,
.result img {
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
}

.choices img:hover {
  cursor: pointer;
  scale: 1.2;
}

.result img.computer-choice {
  filter: invert(90%);
  -webkit-filter: invert(90%);
}

.result img.winner {
  animation: pulse 0.3s alternate infinite;
  -webkit-animation: pulse 0.3s alternate infinite;
}

button {
  background-color: #61dafb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

button:hover {
  scale: 1.1;
}

@keyframes pulse {
  0% {
    scale: 1.2;
    transform: rotate(0.02turn);
    -webkit-transform: rotate(0.02turn);
  }

  100% {
    scale: 1.5;
    transform: rotate(-0.02turn);
    -webkit-transform: rotate(-0.02turn);
  }
}
